h1 {
    color: #131313;
    font-family: "Georgia", sans-serif;
    font-size: 2.5em !important;
    margin-top: -1em !important;
    margin-bottom: -0.2em !important;
}

h5,
p {
    font-family: "Titillium Web", sans-serif;
    line-height: 1.1rem !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
}

h5 {
    color: #4DAAE9;
}

body {
    background-color: #fff;
}